// Import Bootstrap
@import "bootstrap/scss/bootstrap.scss";
@import "styles.scss";

// Theme Style
#header {
    position: relative;
    z-index: 15;
    background-color: #ffffff;
    border-bottom: 1px solid #eeeeee;
}

.header-logo {
    margin: 0;
    min-width: 170px;
    max-width: 120px;
}

.header-logo .header-logo-link {
    font-weight: 700;
    font-size: 30px;
    line-height: 1;
    text-decoration: none;
}

.header-logo img,
.header-logo svg {
    display: block;
    max-width: 90px;
    max-height: 30px;
}