
#header {
    position: relative;
    z-index: 15;
    background-color: #ffffff !important;
    border-bottom: 1px solid #eeeeee;
    color: #000;
  }
  
  .header-logo {
    margin: 0;
    min-width: 170px;
    max-width: 120px;
  }
  
  .header-logo .header-logo-link {
    font-weight: 700;
    font-size: 30px;
    line-height: 1;
    text-decoration: none;
  }
  
  .header-logo img,
  .header-logo svg {
    display: block;
    max-width: 90px;
    max-height: 30px;
  }
  
  #header.stickyHeader {
    position: fixed;
    top: 0;
    z-index: 50;
    width: 100%;
    left: 0;
    box-shadow: 0 0 7px rgb(0 0 0 / 20%);
    animation: fadeIn 0.5s ease-in both;
  }
  
  /* CSS Fade-In Animation */
  @keyframes fadeIn {
    from {
      opacity: 0.5;
      transform: translate3d(0, -20%, 0);
    }
  
    to {
      opacity: 0.9;
      transform: translate3d(0, 0, 0);
    }
  }
  
  a.nav-link {
    color: #000;
  }
  
  a.navbar-brand {
    color: #000;
  }
  
  /*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/
  
  .back-to-top {
    position: fixed;
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: solid 1px #000;
    right: 15px;
    bottom: 15px;
    background: #fff;
    color: #000;
    transition: display 0.5s ease-in-out;
    z-index: 99999;
  }
  
  .back-to-top i {
    font-size: 24px;
    position: absolute;
    top: 7px;
    left: 8px;
  }
  
  .back-to-top:hover {
    color: #fff;
    background: #1E1E1E;
    transition: background 0.2s ease-in-out;
  }
  
  /*--------------------------------------------------------------
  # Navigation bar
  --------------------------------------------------------------*/
  .navbar-left {
    margin-left: 0px;
  }
  
  .navbar-center {}
  
  .navbar-right {
    margin-right: 0px;
  }
  
  #CartCount,
  .favCount {
    position: absolute;
    /* background: #000000; */
    color: #000000;
    min-width: 16px;
    height: 16px;
    border-radius: 16px;
    /* line-height: 17px; */
    font-size: 11px;
    /* right: -7px; */
    /* top: -3px; */
    margin-left: -18px;
    text-align: center;
  }