<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title th:utext="${message}"></title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}" />
    <!-- fontawesome -->
    <link th:href="@{/vendor/font-awesome/css/all.min.css}" rel="stylesheet">
    <!-- Bootstrap icons-->
    <link th:href="@{/vendor/bootstrap-icons/font/bootstrap-icons.css}" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <!-- aos -->
    <link th:href="@{/vendor/aos/aos.css}" rel="stylesheet">

    <!-- https://cdnjs.com/libraries/sockjs-client -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <!-- https://cdnjs.com/libraries/stomp.js/ -->
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    
</head>       