<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title th:utext="${message}"></title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}" />
    <!-- fontawesome -->
    <link th:href="@{/vendor/font-awesome/css/all.min.css}" rel="stylesheet">
    <!-- Bootstrap icons-->
    <link th:href="@{/vendor/bootstrap-icons/font/bootstrap-icons.css}" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <!-- aos -->
    <link th:href="@{/vendor/aos/aos.css}" rel="stylesheet">

</head>

<body>
    <!-- Navigation-->
    <th:block th:included="layout/_navbar"></th:block>

    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-3 row-cols-xl-4 justify-content-center">


            </div>
        </div>
    </section>
    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; [[${message}]] 2021</p>
        </div>
    </footer>

    <div id="back-to-top">
        <a href="#" class="back-to-top" style="display: none;"><i class="fas fa-arrow-up"></i></a>
    </div>
    <!-- Bootstrap core JS-->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/jquery.easing/jquery.easing.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/vendor/aos/aos.js}"></script>
    <!-- Core theme JS-->
    <script th:src="@{/js/scripts.js}"></script>
</body>

</html>