<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

	<!-- Header -->
    <th:block th:include="layout/_header"></th:block>

<body>

    <!-- Navigation-->
    <th:block th:include="layout/_navbar"></th:block>

    <!-- Carousel-->
    <th:block th:include="layout/_carousel"></th:block>


    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-3 row-cols-xl-4 justify-content-center">

                <div class="col mb-5" th:each="product : ${products}">
                    <div class="card h-100">
                        <input type="hidden" th:value="${product.id}">
                        <!-- Sale badge-->
                        [(${product.badge})]
                        <!-- <div class="sale-off-badge">Sale <span>-36%</span></div> -->
                        <!-- <div class="new-badge ">New</div> -->
                        <!-- Product image-->
                        <img class="card-img-top" th:src="${product.imageURL}" th:alt="${product.description}" />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder"><a class="link-dark nounderline"
                                        th:href="'product/' + ${product.id}" th:utext="${product.name}"></a></h5>
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                </div>
                                <!-- Product price-->
                                <span class="text-muted text-decoration-line-through"
                                    th:text=" ${#numbers.formatDecimal(product.salePrice, 0, 'COMMA', 0, 'POINT')+'&#8363;'}">123.456</span>
                                <span
                                    th:text=" ${#numbers.formatDecimal(product.promoPrice, 0, 'COMMA', 0, 'POINT')+'&#8363;'}">1234.456</span>
                                <div class="d-flex justify-content-center small "><a class="link-dark nounderline"
                                        href="#"><i class="far fa-heart"></i> </a></div>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-dark mt-auto add-to-card"><i class="bi-cart-fill me-1"></i>Add
                                    to cart
                                </a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <!-- Footer-->
    <th:block th:include="layout/_footer"></th:block>



    <div id="back-to-top">
        <a href="#" class="back-to-top" style="display: none;"><i class="fas fa-arrow-up"></i></a>
    </div>
    <!-- Bootstrap core JS-->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
    <script th:src="@{/vendor/jquery.easing/jquery.easing.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/vendor/aos/aos.js}"></script>
    <!-- Core theme JS-->
    <script th:src="@{/js/scripts.js}"></script>
    <th:block th:include="layout/_scripts"></th:block>
    <script type="text/javascript">

    </script>
</body>

</html>