<footer class="py-4 bg-light mt-auto" xmlns:th="http://www.thymeleaf.org">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; [[${T(com.mstore.domain.shared.utils.AdminSiteUtil).SHOP_NAME}]] 2021</div>
            <div>
                <a href="#">Privacy Policy</a>
                &middot;
                <a href="#">Terms &amp; Conditions</a>
            </div>
        </div>
    </div>
</footer>